<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todo</title>
    <link rel="stylesheet" href="/static/css/todo_index.css">
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="/static/js/jquery-3.0.0.min.js"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- custom  -->

    <script type="text/javascript" src="/static/js/ajax_todo.js"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>

</head>

<body>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ cuurent_user.username }}'s Todo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            {% if cuurent_user.username != 'Guest' %}
                <li><a href="{{ url_for('user.logout') }}">Logout </a></li>
            {% endif %}
            {% if cuurent_user.username == 'Guest' %}
                <li><a href="{{ url_for('user.register') }}" >Register</a></li>
                <li><a href="{{ url_for('user.login') }}">Login </a></li>
            {% endif %}
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('todo.index') }}">Form Todo</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://blog.yinhaotian.me">Haotian's Blog</a></li>
              <li><a href="https://github.com/yinhaoti">Haotian's Github</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container-fluid">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h1 class="text-center">Todo List
            <small>Beta</small>
        </h1>
            <div class="user_input">
                <form id="ajax_form" action="{{ url_for('ajax_todo.add') }}" method="post" class="form-horizontal" role="form" class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div class="input-group">
                            <input type="text" name="task" class="form-control" id="inputTodo" placeholder="输入 Todo">
                            <span class="input-group-btn">
                            <button id="ajax_form_button" type="submit button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </div>
                    <!-- /.col-lg-6 -->
                </form>
            </div>
            <br>
            <br>

                <h4>正在进行 <span id='processing_badge' class="badge">{{ unfinished_num }}</span> </h4>

            <div id="processing">
            {% for todo in todo_list if todo.done == 'False' %}
                <div class="panel panel-default row">
                    <div class="panel-body task_content" id="task_{{ todo.id }}">
                        <form action="{{ url_for('.update', id=todo.id) }}" method="post">
                            <input class="form-control" style="background:transparent;border:0;box-shadow:0 0 0 0;" type="text" name="task" value="{{ todo.task }}">
                        </form>
                        <div class="delete">
                            <a href="javascript:void(0);" onclick="deleteTodo( this, '{{url_for('ajax_todo.delete', id=todo.id)}}', {{todo.id}} )">
                                <button class="close delete_todo_button" type="button">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer small task_footer">
                        {{ todo.created_time}}
                        <!--
                    <div id="edit"><a href="{{ url_for('.edit', id=todo.id) }}">修改</a></div>
                     -->
                        <div class="complete">
                            <a href="{{ url_for('.complete', id=todo.id) }}">
                                <button class="btn btn-sm active" type="button" style="background:transparent;border:0;box-shadow:0 0 0 0;">
                                    <code>.finished</code>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

                <h4>已完成 <span id='finished_badge' class="badge">{{ finished_num }}</span></h4>
            <div id="completed">
            {% for todo in todo_list if todo.done != 'False' %}
                <div class="panel panel-default row">
                    <div class="panel-body task_content" id="task_{{ todo.id }}">
                        <form action="{{ url_for('.update', id=todo.id) }}" method="post">
                            <input class="form-control" style="background:transparent;border:0;box-shadow:0 0 0 0;" type="text" name="task" value="{{ todo.task }}">
                        </form>
                        <div class="delete">
                            <a href="javascript:void(0);" onclick="deleteTodo( this, '{{url_for('ajax_todo.delete', id=todo.id)}}', {{todo.id}} )">
                                <button class="close delete_todo_button" type="button">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer small task_footer">
                        {{ todo.created_time }}
                        <!--
                    <div id="edit"><a href="{{ url_for('.edit', id=todo.id) }}">修改</a></div>
                     -->

                        <div class="complete">
                            <a href="{{ url_for('.undo_complete', id=todo.id) }}">
                                <button class="btn btn-sm active" type="button" style="background:transparent;border:0;box-shadow:0 0 0 0;">
                                    <code>.unfinished</code>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>

</html>
