<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
    <style>
        #delete {
            float: right;
        }
        #edit {
            float: right;
        }


    </style>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


</head>
<body>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<div class="container-fluid">

<div class="col-xs-8 col-xs-offset-2">

    <h1 class="text-center">Todo List
        <small>Beta</small>
    </h1>


    <form action="{{ url_for('.add') }}" method="post" class="form-horizontal" role="form" class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="input-group">
                <input type="text" name="task" class="form-control" id="inputTodo" placeholder="输入 Todo">

                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-ok"></span>

                    </button>
                </span>

            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </form>


    <br>
    <br>
    <br>

    {% for todo in todo_list %}
    <div class="panel panel-default">
        <div class="panel-body"> {{ todo.task }}</div>
        <div id="edit"><a href="{{ url_for('.edit', id=todo.id) }}">修改</a></div>
        <div id="delete"><a href="{{ url_for('.delete', id=todo.id) }}">删除</a></div>
    </div>

    {% endfor %}



</div>
</div>


</body>
</html>
