<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User index</title>
</head>
<body>
    <h1>Log in as {{ username }}</h1>
    <form action="{{ url_for('.add') }}" method="post">

        <input type="hidden" name="xfrs" value="{{ xfrs }}">
        <input name="username">
        <input name="password">
        <button>add</button>
    </form>
    {% for u in user_list %}
    <div>
        {{ u.id }} : {{ u.username }}
        <a href="{{ url_for('.delete', id=u.id) }}?code={{ xfrs }}">删除</a>
    </div>
    {% endfor %}

</body>
</html>